@import "tailwindcss";

@font-face {
	font-family: "roboto";
	src: url("/node_modules/@fontsource/roboto/700.css") , format(woff2);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-roboto: var(--font-roboto-sans);
}

@media (prefers-color-scheme:dark) {
	:root {
		--background: #edebeb;
		--foreground: #020e31;
	}
}

::selection {
	background-color: rgb(17, 86, 215);
	color: white;
}

/* RESPONSIVE BREAK POINTS: 1200px || 992px || 768px || 576px  */
body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Roboto ";
	box-sizing: border-box;
}

.Nav__Link {
	text-shadow: .5px .5px 2px white;
}

.comment__box {
	cursor: pointer;
	transition: all 300ms linear !important;
	box-shadow: 3px 3px 3px rgb(0, 3, 28) , -3px -3px 3px rgb(16, 94, 212) !important;
}

.comment__box:hover {
	background-color: #dad5d5;
	scale: 105%;
}

@keyframes logoAnimation {
	from {
		transform: translateX(0);
	}
	
	to {
		transform: translateX(-100%);
	}
}

.logos___wrapper {
	animation: logoAnimation 20s linear infinite;
}